<div id="<%= dom_id(conversation, :thinking) %>" class="chat-message chat-message--assistant">
  <div class="chat-message__bubble">
    <div class="thinking-indicator">
      <span></span><span></span><span></span>
    </div>
  </div>
</div>
