<% content_for :title, "Edit Entry" %>

<div class="flex items-center justify-between mb-7">
  <h1 class="text-xl font-bold tracking-[-0.02em]">Edit Now Entry</h1>
</div>

<%= render "form", now_entry: @now_entry %>